#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
    color: #007bff;
    /* text-shadow: 9px 12.5px  #ff00ea; */
}
h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
    color: #ff00ea;
    margin-left: -150px;
    margin-top: 28px;
}
.navbar-brand img{
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover{
    color: #007bff;
}

.navbar{
    background: #fff;
}

.navbar-toggler{
    border: none;
}

.nav-link{
    color: #555;
    font-weight: 600;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-login {
    border: 1px solid #007bff;
    border-radius: 8px;
}

#slider{
    width: 100%;
}

.carousel-caption{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-caption h5{
    color: #fff;
    font-size: 42px;
    position: absolute;
    bottom: -40%;
    width: 100%;
}

#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

#about .btn{
    margin-top: 20px;
    margin-bottom: 30px;
}

.about-content{
    padding-top: 20px;
}

.skills-bar p{
    margin-bottom: 6px;
    font-weight: 600;
}

.progress-bar{
    border-radius: 16px;
}

body .progress {
    border-radius: 16px;
}
.progress{
    margin-bottom: 20px;
}

#services{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(images/services.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}

#services h1{
    text-align: center;
    color: #efefef;
    padding-bottom: 10px;
}

#services h1:after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.services{
    margin-top: 40px;
}

.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}

#services p{
    font-weight: 700;
    font-size: 14px;
    margin-top: 20px;
    color: #fff;
}

.services .col-md-3:hover{
    background: #007bff;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.7s;
}

#team{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

h1{
    text-align: center;
    color: #555;
    padding-bottom: 10px;
}

h1::after{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.profile-pic{
    margin-top: 25px;
}

.profile-pic .img-box{
    opacity: 1;
    display: block;
    position: relative;
}

.profile-pic .img-box img{
    filter: grayscale(1);
}

.profile-pic .img-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
}

.profile-pic h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff;
}

.profile-pic h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}

#team .fa{
    height: 25px;
    width: 25px;
    color: #007bff;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
}


.img-box ul{
    padding: 1px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
}

.img-box ul li{
    padding: 5px;
    display: inline-block;
}

.img-box:hover ul{
    opacity: 1;
}

.img-box ul, .img-box ul li{
    transition: 0.5s;
}

#promo{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/promo.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size: 38px;
}

#video {
    margin-top: 40px;
    margin-bottom: 40px;
}

.avaliacao{
    color: #FFCD33;
}
.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img {
    width: 100%;
}
#small-container-2 {
    max-width: 100%;
    max-height: 100%;
    padding-top: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #efefef;
}
.teste_btn {
    display: flex;
    justify-content: center;
}
.btn-primary {
    margin-bottom: 40px;
}
#small-container-2 h1:after {
    margin-bottom: 30px;            /* espaçamento entre a barrinha e os produtos*/
}

ul li:last-child {
    border: none;
}

.fa-check-circle {
    color: green;
    margin-right: 10px;
    font-size: 20px;
}

.fa-times-circle {
    color: red;
    margin-right: 10px;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: #fff;
}

#testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
}
.row {
    justify-content: center;
}

#testimonials .row{
    margin-top: 30px;
}

.col-md-4{
    margin: 40px auto;
}

.profile{
    padding: 70px 10px 10px;
    background-color: #efefef;
}

.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.user-zen{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    filter: brightness(350%);
}

.profile img{
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid #fff;
}

.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: #007bff;
}

#testimonials span{
    font-size: 12px;
    color: #333;
}

blockquote{
    font-size: 16px;
    line-height: 30px;
}

blockquote::before{
    content: '"';
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

blockquote::after{
    content: '"';
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height: 20px;
    bottom: -15px;
    left: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    transform: rotate(180deg);
}

.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}

#contact {
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}

.contact-form {
    padding: 15px;
}

.contact-control {
    border-radius: 0;
    border: none;
}
textarea {
    overflow: auto;
    resize: vertical;
    min-height: 70px;
}

::placeholder {
    color: #999;
}

.follow {
    background: #fff;
    padding: 10px;
    margin: 15px;
}

i.fa.fa-tv {
    align-items: center;
    justify-content: center;
    display: flex;
}

i.fa.fa-gamepad {
    align-items: center;
    justify-content: center;
    display: flex;
}

.contact-info .fa {
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}

#map{
	width: 100%;
	height: 400px;
	background-color: #ddd;
}

#footer{
    background: #333;
    color: #fff;
    padding: 12px;
    height: 50px;
}