#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
    color: #007bff;
    /* text-shadow: 9px 12.5px  #ff00ea; */
}
h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-style: italic;
    color: #ff00ea;
    margin-left: -150px;
    margin-top: 28px;
}
.navbar-brand img{
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover{
    color: #007bff;
}

.navbar{
    background: #efefef;
}

.navbar-toggler{
    border: none;
}

.nav-link{
    color: #555;
    font-weight: 600;
    font-size: 16px;
}
/* body {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    flex-flow: column;
    align-items: center;
} */
#form_cadastro {
    display: flex;
    align-items: center;
}
h1 {
    color: #0085FF;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    text-align: center;
    padding-top: 100px;
}

label { 
    margin-top: 1rem;
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-right: 360px;
}
.menor_label {
    margin-right: 430px;
}

form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
input {
    width: 100%;
    margin-top: .25rem;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    padding: 4px 1px;
    margin-left: 25px;
    color: #0085FF;
    font-weight: 700;
    cursor: pointer;
}

.campo-formulario {
    display: flex;
    width: 450px;               /* Tamanho da barra em baixo */
    font-family: 'Arial';
    font-size: 1em;
    outline: none;
    border: none;
    border-bottom: solid 1px black;
}
.campo-formulario:hover{
    border-color: #0085FF;
    outline: none;
    transition: 0.4s;
}
.campo-errado {
    border-bottom: solid 1px red;
    
}
.salvar {
    border: 0;
    color: #fff;
    width: 130px;
    height: 40px;
    background-color: #0085FF;
    position: relative;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-top: 35px;
    cursor: pointer;
    margin-right: 340px;     /* Posicao para direita do botao */
}
.salvar:hover {
    background-color: #339dff;
    outline: none;
    transition: 0.4s;
}

.svg_user {
    border: 0;
    height: 20px;
    position: absolute;
}
.icone_user {
    display: flex;
    align-items: center;        /* Centralizando o icone */
    position: relative;
}
.svg_email {
    border: 0;
    height: 20px;
    position: absolute;
}
.icone_email {
    display: flex;
    align-items: center;        /* Centralizando o icone */
    position: relative;
}
.svg_cadeado{ 
    border: 0;
    height: 20px;
    position: absolute;
    align-items: center;
}
.icone_cadeado {
    display: flex;
    align-items: center;        /* Centralizando o icone */
    position: relative;
}
#footer{
    background: #333;
    color: #fff;
    padding: 12px;
    height: 50px;
}